
<div align = "center">
  <form [formGroup]="profileForm"   (ngSubmit)="onSubmit()">
   <div  class="form-group " >
         <table>
           <div>
      <tr><td><label for ="firstName">FIRST NAME :<span style="color: red;">*</span></label></td>
       <td><input type="text" class="form-control"  name="firstName" formControlName="firstName" required>
           <div *ngIf="submitted && f.firstName.errors" class="invalid-feedback">
             <span *ngIf="f.firstName.errors.required" style="color: red; font-size: small;">
             This feild is required</span></div></td>

             &nbsp;<td><label for="lastName">LAST NAME :<span style="color: red;">*</span></label></td>
       <td><input type="text" class="form-control"  name ="lastName" formControlName="lastName" required >
         <div *ngIf="submitted && f.lastName.errors" class="invalid-feedback">
           <span *ngIf="f.lastName.errors.required" style="color: red; font-size: small;">
           This feild is required</span></div></td></tr>
       <tr>
         <td><label for="email">EMAIL :<span style="color: red;">*</span></label></td>
       <td><input type="email" class="form-control"  name="email" formControlName="email"required >
         <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
           <div *ngIf="f.email.errors.required" style="color: red; font-size: small;">This feild is required</div>
           <div *ngIf="f.email.errors.email" style="color: red; font-size: small;">Email must be a valid email address</div>
       </div></td>

       </tr>
       <tr>
         <td><label for="password">PASSWORD :<span style="color: red;">*</span></label></td>
       <td><input type="password" class="form-control"  name=" password" formControlName="password" required>
         <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
           <span *ngIf="f.password.errors.required" style="color: red; font-size: small;">
           This feild is required</span></div>
           <span *ngIf="f.password.touched &&f.password.errors.weekPassword" style="color: rgb(190, 158, 11); font-size: small;">Password is weak..</span>
           <span *ngIf="f.password.touched &&f.password.errors.strongPassword" style="color: #077e0d ;font-size: small;">Password is strong..</span></td>



       </tr>
       <tr>
         <td><label for="confirmPassword">CONFIRM PASSWORD:<span style="color: red;">*</span></label></td>
       <td><input type="password" class="form-control" name="confirmPassword" formControlName=confirmPassword >
         <div *ngIf="submitted && f.confirmPassword.errors" class="invalid-feedback">
           <span *ngIf="f.confirmPassword.errors.required" style="color: red; font-size: small;">
           This feild is required</span></div>
           <span *ngIf="profileForm.get('confirmPassword').touched && profileForm.errors?.passwordMissMatch " style="color: red ;font-size: small;">re-enter,password does't match</span></td>
       </tr>
       <tr>
         <td><label for="userType">USER TYPE :<span style="color: red;">*</span></label></td>
          <div>
          <td><input type="radio"  id ="business" name="userType" formControlName="userType" (click)="radioUserType()" value="business" required>BUSINESS
          &nbsp;<input type="radio" id ="individual" name="userType" formControlName="userType" (click)="radioUserType()"value ="individual" required>INDIVIDUAL
          &nbsp;<br> <input type="radio"  name="userType"  (click)="otherUserType()" formControlName="userType" value="other" required>OTHER
            <div [hidden]="selectedOther">
            <input type="text" name="userType" class="form-control" formControlName="userType"  placeholder="Enter User Type" required>
            <div *ngIf="submitted && f.userType.errors" class="invalid-feedback">
             <span *ngIf="f.userType.errors.required" style="color: red; font-size: small;">
             This feild is required</span></div>
            </div>

        </td>
          </div>
    </tr>

    <tr>
      <td><label>PHONE NUMBER: </label></td>
      <td><div formArrayName="phoneNumbers">
       <div *ngFor="let item of phoneNumbersAry().controls; let i = index;">
       <div [formGroupName]="i">
         <input type="text" name="phone" formControlName="phone" required>


         &nbsp;<select  name ="type" formControlName="type"  >
           <option value=""  selected disabled >--Type--</option>
             <option *ngFor="let type of phoneNumberType"   [value]="type" >{{type}}</option>
           </select>


         &nbsp;<button type="button" (click)= "addPhoneNumber()" class="btn btn-secondary"> + </button>
         <span *ngIf="i>0">
           &nbsp;<button  type="button" (click)= "removePhoneNumber(i)"class="btn btn-secondary" > - </button>
         </span>


       </div>
       &nbsp;
       </div>
     </div>
      </td>     </tr>


           </div>

  <div>
    <tr>      <h2>Shipping Address</h2>
     <app-address-form [addressObj]="shippingAddress" (address)="getShippingAddress($event)"></app-address-form>
   </tr>


 </div>
 <div>
   <tr>
     <td >
       <div><input type="checkbox"   (change)= "sameAddressFor()" class="largerCheckbox">
       &nbsp;<label  style="font-size: 14px;" > Billing address same as shipping address</label></div></td>

     </tr>
</div>
 <div>
   <tr>
   <h2>Billing Address</h2>
<app-address-form [addressObj] ="billingAddress" (address) ="getBillingAddress($event)" [update] ="sameAddress"></app-address-form>
</tr>
</div>
<br>
<div>
 <tr>
       <td><label>RECEIVE UPDATES:</label></td>&nbsp;&nbsp;
   <td><div *ngFor="let item of receiveUpdates; let i =index;">
     <input class="largerCheckbox"  type="checkbox" (change)="onCheckboxChange($event)"  [value] ="item.value">
     <label >{{item.name}}</label>
     </div></td>

 </tr>
</div>

   </table>
   </div>
   <div class="text-center">
     <button type=" submit" class="btn btn-primary ">SUBMIT</button>
     &nbsp;<button class="btn btn-danger" type="reset" (click)="onReset()"> Reset</button>
   </div>
 </form>
 {{profileForm.value|json}}<br>
 {{shippingAddress| json}}<br>
 {{billingAddress|json}}


</div>
