

<form [formGroup] = "addressForm" >
  <div  class="form-group " >
    <table>

          <div>
             <tr>
            <td><label>LINE 1 :</label></td>
            <td><input type="text" class="form-control" formControlName="line1"   ></td>
          </tr>
          <tr>
            <td> <label>LINE 2 :</label></td>
            <td><input type="text" class="form-control" name="line2" formControlName="line2"></td>
          </tr>
          <tr>
            <td><label>CITY :</label></td>
            <td><input type="text "class="form-control"  name="city"formControlName ="city"></td>
            <td><label>STATE :</label></td>
            <td><input type="text " class="form-control"  name="state"  formControlName="state" ></td>
          </tr>
          <tr>
            <td><label>COUNTRY :</label></td>
            <td><input type="text " class="form-control" id ="country" name="country" formControlName="country"></td>
            <td><label>ZIP :</label></td>
            <td><input type="text " class="form-control" id ="zip" name="zip"formControlName="zip" required>
              <div *ngIf = "f.zip.invalid&& f.zip.touched">
            <span *ngIf="f.zip.errors.InvalidZipCode" style="color: red; font-size: small;">enter valid zipcode(hint:500216)</span>
          </div></td>
          </tr>
        </div>




      </table>

    </div>

  </form>
