
<div align = "center">
   <form [formGroup]="profileForm"   (ngSubmit)="onSubmit()">
    <div  class="form-group " >
          <table>
            <div>
       <tr><td><label for ="firstName">FIRST NAME :<span style="color: red;">*</span></label></td>
        <td><input type="text" class="form-control" name="firstName" formControlName="firstName"></td>

        <td><label for="lastName">LAST NAME :<span style="color: red;">*</span></label></td>
        <td><input type="text" class="form-control"  name ="lastName" formControlName="lastName" ></td></tr>
        <tr>
          <td><label for="email">EMAIL :<span style="color: red;">*</span></label></td>
        <td><input type="text" class="form-control"  name="email" formControlName="email" ></td>
        </tr>
        <tr>
          <td><label for="password">PASSWORD :<span style="color: red;">*</span></label></td>
        <td><input type="text" class="form-control"  name=" password" formControlName="password" ></td>
        </tr>
        <tr>
          <td><label for="confirmPassword">CONFIRM PASSWORD:<span style="color: red;">*</span></label></td>
        <td><input type="text" class="form-control" name="confirmPassword" formControlName=confirmPassword ></td>
        </tr>
        <tr>
          <td><label for="userType">USER TYPE :<span style="color: red;">*</span></label></td>
           <div>
           <td><input type="radio"  id ="business" name="userType" formControlName="userType" (click)="radioUserType()" value="business">BUSINESS
           &nbsp;<input type="radio" id ="individual" name="userType" formControlName="userType" (click)="radioUserType()"value ="individual">INDIVIDUAL
           &nbsp;<br> <input type="radio"  name="userType"  (click)="otherUserType()" formControlName="userType" value="other" >OTHER
             <div [hidden]="selectedOther">
             <input type="text" name="userType" class="form-control" formControlName="userType" value ="other1" placeholder="Enter User Type" >

             </div>

         </td>
           </div>
     </tr>
     <!--<tr>
        <td><label>PHONE :<span style="color: red;">*</span></label></td>
        <div *ngFor ="let phoneId of phoneNumberIds ; let i =index;">
          <td>
        <input type="tel" class="form-control" name="phoneNumber{{phoneId}}" formControlName="phoneNumber{{phoneId}}" maxlength="10" >
        &nbsp;<select name ="phoneNumberType{{phoneId}}" formControlName="phoneNumberType{{phoneId}}"  >
          <option value=""  selected disabled >--Type--</option>
            <option *ngFor="let type of phoneNumberType"   [value]="type" >{{type}}</option>
          </select>
          &nbsp;<button type="button" (click)="add()">+</button>
          &nbsp;<div *ngIf="i>1"><button type="button" (click)=remove(i);>-</button></div></td>
        </div>
      </tr> -->

            </div>

   <div>
      <h2>Shipping Address</h2>
      <div formGroupName="shippingAddress">
        <tr>
       <td><label>LINE 1 :</label></td>
       <td><input type="text" class="form-control" name="shippingAddressLine1" formControlName="shippingAddressLine1"   ></td>
     </tr>
     <tr>
       <td> <label>LINE 2 :</label></td>
       <td><input type="text" class="form-control" name="shippingAddressLine2" formControlName="shippingAddressLine2"></td>
     </tr>
     <tr>
       <td><label>CITY :</label></td>
       <td><input type="text "class="form-control"  name="shippingAddressCity"formControlName ="shippingAddressCity"></td>
       <td><label>STATE :</label></td>
       <td><input type="text " class="form-control"  name="shippingAddressState"  formControlName="shippingAddressState" ></td>
     </tr>
     <tr>
       <td><label>COUNTRY :</label></td>
       <td><input type="text " class="form-control" name="shippingAddressCountry" formControlName="shippingAddressCountry"></td>
       <td><label>ZIP :</label></td>
       <td><input type="text " class="form-control" name="shippingAddressZip"formControlName="shippingAddressZip"></td>
     </tr>
   </div>
  </div>
  <div>
    <tr>
      <td >
        <div><input type="checkbox"   (change)= "sameAddressFor()" class="largerCheckbox">
        &nbsp;<label  style="font-size: 18px;" > Billing address same as shipping address</label></div></td>

      </tr>
</div>
  <div>
    <h2>Billing Address</h2>
    <div formGroupName="billingAddress">
      <tr>
     <td><label>LINE 1 :</label></td>
     <td><input type="text" class="form-control"   name ="billingAddressLine1" formControlName="billingAddressLine1"    ></td>
   </tr>
   <tr>
     <td> <label>LINE 2 :</label></td>
     <td><input type="text" class="form-control" name="billingAddressLine2" formControlName="billingAddressLine2"></td>
   </tr>
   <tr>
     <td><label>CITY :</label></td>
     <td><input type="text "class="form-control"  name="billingAddressCity"formControlName ="billingAddressCity"></td>
     <td><label>STATE :</label></td>
     <td><input type="text " class="form-control"  name="billingAddressState"  formControlName="billingAddressState" ></td>
   </tr>
   <tr>
     <td><label>COUNTRY :</label></td>
     <td><input type="text " class="form-control"  name="billingAddressCountry" formControlName="billingAddressCountry"></td>
     <td><label>ZIP :</label></td>
     <td><input type="text " class="form-control"  name="billingAddressZip"formControlName="billingAddressZip"></td>
   </tr>
 </div>

</div>
<br>
<div>
  <tr>
    <td><label>RECEIVE UPDATES:</label></td>&nbsp;&nbsp;
    <td><div *ngFor="let item of receiveUpdates; let i =index;">
      <input class="largerCheckbox"  type="checkbox" (change)="onCheckboxChange($event)"  [value] ="item.value">
      <label >{{item.name}}</label>
      </div></td>

  </tr>
</div>

    </table>
    </div>
    <div>
      <button type=" submit">SUBMIT</button>
    </div>
  </form>
  {{profileForm.value|json}}


</div>
